body {
	background-color: lightblue;
}

.updating {
	position: absolute;
	margin: 11% 0 0 29%;
}

#updatingtext {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	width: 100%;
	text-align: center;
	margin: auto;
	font-size: 24px;
}

#updatingpng {
	display: block;
	margin: auto;
}